<nav class="navbar navbar-expand-lg navbar-primary bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cars">cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news">news</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mobile">mobile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes">recipes</a>
      </li>
          
    </ul>
    
  </div>
</nav>
