
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top " id="bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand text-light" routerLink="home">GMAIL</a>
      <ul class="float-right" class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item active" *ngIf="isLogout()">
          <a class="nav-link text-light" (click)="home()">Home <span class="sr-only"></span></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/viewstudents">view students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" > librarian</a>
        </li> -->
      </ul>
      <ul  class="float-right navbar-nav  mt-2 mt-lg-0">
        <li class="nav-item" >
          <a class="nav-link text-light" routerLink="/changepassword">change password</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link text-light"  routerLink="/login">login</a>
        </li>
        <!-- <li class="nav-item" *ngIf="isLogout()">
          <a class="nav-link text-light"  routerLink="/logout" (click)="logout()"> logout</a>
        </li> -->
      </ul>
  
      
    </div>
  </nav>